<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FiddlerCore" version="4.6.2.0" targetFramework="net45"/>
  <!-- NOTE: Telerik has unlisted this package from https://www.nuget.org/ and the package restore may break anytime -->
  <package id="Selenium.Support" version="3.13.0" targetFramework="net45"/>
  <package id="Selenium.WebDriver" version="3.13.0" targetFramework="net45"/>
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="WebDriver.ChromeDriver.win32" version="2.41.0" targetFramework="net45" />
  <package id="Selenium.Firefox.WebDriver" version="0.21.0" targetFramework="net45" />
  <package id="WebDriver.IEDriverServer.win32" version="3.9.0" targetFramework="net45" />
	<!-- nuget versions:
10.0.17134
10.0.16299
10.0.15063
10.0.14393.1
10.0.14393
10.0.10586
10.0.10240
see also: https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/
-->
<package id="Selenium.WebDriver.MicrosoftWebDriver" version="10.0.15063" targetFramework="net45" />
</packages>
